{% extends "base.html" %}

{% block content %}
  <h1>Labels</h1>


<a href="{% url 'create_label' %}" class="btn btn-success btn-lg btn-block add_button">Add a label</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  {% for label in labels %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td> <a href="{% url 'label_notes' label_id=label.id %}">{{label.title}}</a></td>
      <td> <a href="{% url 'edit_label' label_id=label.id %}" class="btn btn-info">Edit</a></td>
      <td> <a href="{% url 'delete_label' label_id=label.id %}" class="btn btn-danger">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}